.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.cart-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.like {
    cursor: pointer;
    color: grey;
}
.liked {
    color: red;
}
.quantity-buttons {
    display: flex;
    align-items: center;
}
.quantity-buttons button {
    margin: 0 5px;
}